@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin-ext);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

#map {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 90vh;
}
.application {
    position: absolute;
    min-width: 375px;
    max-width: 375px;
    /* height: auto; */
    top: 25px;
    bottom: 25px;
    left: 50px;
    right: auto;
    box-shadow: 3px 0 10px -4px rgba(0, 0, 0, .2);
    transform: translateY(0);
    opacity: 1;
    transition: opacity .3s ease-in-out;
    background: #fafafa;
    color: rgba(0, 0, 0, .87);
    z-index: 1111;
}

.application .list-header {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    transform: translateY(0px);
}

.application .list-header.toolbar {
    background-color: #00aeef;
    color: #fff;
    padding: 10px;
    display: flex;
}
.application .toolbar-btn-icon{
    position: relative;
    background: transparent;
    align-items: center;
    display: flex;
    box-shadow: none!important;
    border: none;
    border-radius: 50%;
    justify-content: center;
    min-width: 0;
    width: 36px;
}
.application .toolbar-btn-icon .icon.material-icons{
    color: #fff;
}
.application .list-header.toolbar .toolbar-title{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .02em;
    margin-left: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.application .list-header.toolbar .spacer{
    -webkit-box-flex: 1!important;
    -ms-flex-positive: 1!important;
    flex-grow: 1!important;
}
.application .list-body.main{
    position: absolute;
    top: 56px;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    padding: 0 0 90px;
    background: #fafafa;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 0;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 36px;
}
.application .list-body.main .places-list{
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 8px 0;
}
.application .list-body.main .places-list .card{
    display: block;
    border-radius: 2px;
    min-width: 0;
    position: relative;
    text-decoration: none;
}
.application .list-body.main .places-list .card.places-box{
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    opacity: 1;
    background-color: #fff;
    margin: 0 8px 8px;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
}
.application .list-body.main .places-list .card.places-box .list{
    list-style-type: none;
    padding: 8px 0;
    transition: height .3s cubic-bezier(.4,0,.2,1);
}
.places-box-content{
    position: relative;
    display: flex;
    padding: 0 15px;
    flex-wrap: nowrap;
    flex-direction: column;
}
.places-box-content .place-box-subtitle{
    font-size: 12px;
    color: rgba(25,25,25,.54);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.places-box-content .place-box-distance{
    position: relative;
    color: rgba(25,25,25,.54);
    font-size: 12px;
    top: 4px;
    text-align: right;
}
.places-box-content .details{
    align-items: center;
    padding: 10px 0;
}
.places-box-content .place-box-data{
    flex: 2;
    width: 100%;
    color: rgba(0,0,0,.54);
    font-size: 14px;
    overflow: hidden;
}
.places-box-content .place-box-data .place-box-title{
    text-transform: uppercase;
}
.places-box-content .place-box-data .place-box-title, .places-box-content .place-box-data .place-box-address{
    line-height: 21px;
    font-size: 16px;
    color: rgba(0,0,0,.87);
    margin-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.places-box-content .place-box-data .place-box-address{
    color: rgba(0,0,0,.54);
    font-size: 13px;
}
.places-box-content .place-box-action-container .custom-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    max-width: 150px;
    margin-top: -12px;
    margin-bottom: -8px;
}
.place-box-action-container .custom-icons .action-button{
    padding: 0 8px;
}
.place-box-action-container .custom-icons .action-button a{
    display: flex;
    align-items: center;
    color: #00aeef;
    text-transform: uppercase;
    font-size: 13px;
    flex-direction: column;
    text-decoration: none;
    transition: all 0.5s;
}
