body {
	background:#F0F0F0;
}
#pager-container {display:inline-block;}
.container-formulario {
    padding: 0px;
    border: 2px solid #ddd;
	margin-top:10px;
	margin-top:20px;
	margin-bottom:20px;
	width:100%;
	display:inline-block;
}
.container-formulario .row {padding:0;margin:0;}
.row:before, .row:after {display: none !important;}
.center {
	text-align:center;
}
h5 {text-align:center;}

.circunstancia-label-col {
	text-align:center;
	max-width:100%;
	margin:0;
	height:40px;
	display:table;
}
.circunstancia-label-col .circunstancia-label{
	display:table-cell;
	vertical-align:middle;
	font-size:12px;
	line-height:14px;
}
.circunstancias-a ,#col-veiculo-a h5 {background:#5474BE;color:white;text-align:center;padding: 10px 0;
margin: 0;}
.circunstancias-a {height:118px;line-height:118px;}
.circunstancias-b ,#col-veiculo-b h5{background: #00aeef;color:black;text-align:center;padding: 10px 0;margin: 0;}
.circunstancias-b {height:118px;line-height:118px;}

/*#veiculos-circunstancias .col-sm-4 ,#veiculos-circunstancias .col-sm-1 , #veiculos-circunstancias .col-sm-8{padding:0;}*/
.circunstancia-row {border-bottom:1px solid #ddd}
.circunstancia-veiculo-a {background:#5474BE;text-align:center;height:40px;line-height:40px;}
.circunstancia-veiculo-b {background: #00aeef;text-align:center;height:40px;line-height:40px;}
.circunstancia-row input {text-align:center;max-width: 100%;max-height: 100%;width:20px;height:20px;}
#numero_total_circunstancias_a , #numero_total_circunstancias_b {width:100%;height:100%;}
.veiculo-container-side {
	padding: 0px 0px 5px;
	margin-top: 0px;
	width: 100%;
	display: inline-block;
}
.veiculo-container-side_a {
	border-bottom: 2px solid #5474BE;
	border-left: 2px solid #5474BE;
	border-right: 2px solid #5474BE;
}
.veiculo-container-side_b {
	border-bottom: 2px solid #00aeef;
	border-right: 2px solid #00aeef;
	border-left: 2px solid #00aeef;
}
.input-text{border-radius:0;border:none;border-bottom:1px solid #000;height:30px;box-shadow:none;}
label {line-height:30px;}
.form-group {clear: both;
display: inline-block;
width: 100%;
margin: 0;
padding:0 4px;
}
.veiculo-container-side .control-label {font-size:12px;padding-left:5px;}

.title-section {background:#ddd;padding-left:5px;}

.box-section {
    border: 1px solid #ECECEC;
}
.input-section {padding:0 5px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding:0;
}

.croqui_table {
    width: 111px;
    height: 165px;
    position: absolute;
}
.croqui_table td{
    width: 10px;
    height: 10px;
}
.croqui_table tr{
    height: 10px;
}
.croqui_table tr input {
	height:13px;
	width:13px;
}
.croqui_table .in_marker {
	height: 10px;
	position: relative;
}
.croqui_table tr input {
    margin: 0px;
    padding: 0px;
    position: absolute;
}
.croqui_a , .croqui_b{
	width: 111px;
	margin: 10px auto 5px;
	display: block;
}
/* marquers*/
.marker_15 input, .marker_4 input , .marker_3 input , .marker_24 input , .marker_25 input {
	top: -14px;
	left: -2px;
}
.marker_22 input , .marker_1 input{
	top: -7px;
	left: -3px;
}
.marker_23 input , .marker_2  input {
	top:-7px;
}
.marker_2  input {
	right:2px;
}
.marker_23 input{
	left:1px;
}

.marker_26 input ,.marker_27 input,.marker_6 input,.marker_5 input{bottom: -7px;}

.marker_19 input{
	bottom: -15px;
	left: -1px;	
}
.marker_31 input , .marker_32 input , .marker_33 input{
bottom: -9px;
left: -1px;
}
.marker_10 input , .marker_11 input , .marker_12 input{
bottom: -9px;
left: -1px;
}
.marker_20 input {
	bottom:-10px;
}
.marker_34 input , .marker_13 input{
bottom: -6px;
right: 4px;
}
.marker_7 input {
	left:-5px;
	bottom:-5px;
}
.marker_28 input {
	bottom:-5px;
}
textarea {
    resize: none;
	border-radius: 0 !important;
	border: none !important;
}
#esquema_img{
	cursor: pointer;
	width: 230px;
	height: 150px;
	margin: 11px auto;
	display: block;
	clear:both;
	border: 1px solid #ddd;
	text-align:center;
}
#esquema_img p {
	text-align:center;
	font-weight:bold;
}
.esquema_btns{
	text-align:center;
	margin-bottom:10px;
}
.box-center {
	border: 2px solid #DDD;
	display: block;
	width: 97%;
	margin: 7px auto;
}
.box-center .form-group{
	padding:5px;
	display:inline-block;
	width:100%;
}
.box-center .form-group.title-section{
	padding:0px;
}

.label-font-size-11 {font-size:11px}
select.input-sm {font-size:10px;line-height:25px;height:25px;padding:0;font-size:14px;}
.container {
	min-width: 970px !important;
	border: 1px solid #ddd;
	margin: 20px auto;
	background: white;
	padding: 10px;}

	textarea:focus, input:focus{
	    outline: 0!important;
	}
	.form-control:focus {
			border-color:none;
			box-shadow:none ;
	}
	
	#grellha-2-pag {
		width:100%;
	}
	#grellha-2-pag td{
		border: 2px solid #000;
		height: 19px;
	}
	
	.esquemas-container {
		
		padding:5px;
	}
	.esquemas-img-container{
		margin:4px;
		border:1px solid #ddd;
	}
	.picker__select--year ,.picker__select--month{padding:0;}

	#links-participacao .fa {
		font-size:45px;
		color:#B7B7B7;
	}
	
	#links-participacao span {
		font-size:16px;
		margin-top:10px;
	}
	
	#links-participacao .fa-100  {
		float:left;
		width:100%;
		text-align:center;
	}
	#links-participacao .fa-50  {
		float:left;
		width:50%;
		text-align:center;
	}
	#links-participacao span {
		float:left;
		width:100%;
		text-align:center;
	}
	
	.checkboxcondutor{
		text-align: center;
		max-width: 100%;
		max-height: 100%;
		width: 20px;
		height: 20px;
	}
	
	.feridos{
		float: left;
		width: 100%;
	}
	
	.desativar{
	    pointer-events: none;
	    opacity: 0.5;
	    background: #CCC;
	}